.container {
	max-width: 800px;
}

.resume {
	text-align: center;
	margin-top: 50px;
}

.resume .avatar {
	height: 130px;
	border-radius: 50%;
	/*border: 5px solid #31C38E; */
	margin-bottom: 10px;
}

.resume .name {
	font-size: 22px;
	color: #383431;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;
}

.resume .bio {
	color: #a1a09c;
	font-size: 12px;
	margin-bottom: 40px;
}

.resume .bio .sub-bio {
	margin-top: -3px;
}

.resume a, .resume a:hover {
	color: #31c38e;
}

.resume .title {
	color: #625d5a;
	margin-bottom: 60px;
}

.resume .separator {
	background-color: #f2f1ee;
	height: 2px;
	margin-bottom: 60px;
}

.resume .row {
	margin-bottom: 40px;
}

.resume .row .name {
	font-size: 1.2em;
}

.resume .row .description {
	margin-top: 10px;
	color: #625d5a;
	font-size: 1em;
}

.footer {
	text-align: center;
}

.content {
	text-align: left;
}

.content .col-md-6 {
	font-size: 1.4em;
	color: #31c38e;
}

.content .fa {
	margin-left: -30px;
	position: absolute;
}

.skill , .social, .experience, .education, .network{
	margin-top: 20px;
	/* width: 350px; */
}

.experience, .education {
	/* width: 400px; */
}

.experience-name, .experience-date, .education-name, .education-date {
	color: #383431;
	font-size: 0.8em;
}

.experience-date, .experience-description, .education-date, .education-description {
	color: #625d5a;
	line-height: 1.3em;
}

.experience-description, .education-description {
	margin-top: 5px;
	font-size: 0.7em;
}

.skill-name {
	padding-bottom: 3px;
	font-weight: bold;
	display: inline-block;
	font-size: 0.8em;
	color: #383431;
}

.skill-name .fa {
	color: #7f7f7f;
	margin-top: -2px;
}

.skill-status {
	color: #7f7f7f;
	float: right;
	display: inline-block;
	font-size: 0.65em;
}

.network .network-name {
	color: #7f7f7f;
	font-size: 15px;
	margin-left: 10px;
}

.network .fa  {
	color: #7f7f7f;
}

.progress {
	height: 10px;
	background-image: linear-gradient(to bottom, #CDF2E5, #CDF2E5);
	border-radius: 0px;
	-webkit-border-radius: 0px;
}

.progress-green .bar {
	height: 10px;
	background-image: linear-gradient(to bottom, #3ecf9b, #31c38e);
}

@media (max-width: 992px) {
	.col-md-4, .col-md-6 {
		margin-bottom: 40px;
	}
	.content .row {
		margin-bottom: 0px;
	}
}

@media (min-width: 992px) {
	.content .col-md-6.right {
		padding-left: 50px;
	}
	.skill , .social, .experience, .education{
		width: 350px;
	}
	.progress-div {
		width: 350px;
	}
}
