@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
body {
  /* font-family: 'Lato', sans-serif; */
  font-size: 15px;
}
@media (max-width: 767px) {
  body {
    font-size: 16px;
  }
}
a {
  color: #002b36;
}
.topbar {
  height: 15px;
  background-color: #002b36;
  margin-bottom: 20px;
}
.topbar .fa-stack {
  top: 5px;
  left: 18px;
  width: 1.8em;
}
.topbar .fa-stack .fa-chevron-up {
  position: relative;
  top: -5px;
}
.container {
  max-width: 900px;
}
/* .row {
  margin-bottom: 20px;
} */
.language,
.pdf {
  /*.btn:hover {
    background-color: @blue;
    color: white;

    .fa {
      color: white;
    }
  }*/
}
.language .btn,
.pdf .btn {
  color: #002b36;
  border-color: #002b36;
  background-color: #002b36;
  border-radius: 25px;
  border: solid 2px;
  background-color: white;
  padding: 5px 20px;
}
.resume #resume-header {
  margin-top: 30px;
}
.resume #resume-header .name {
  color: #383431;
  margin: 5px 0;
  font-size: 1.5em;
  font-weight: bold;
}
.resume #resume-header .fake-shell-ui {
  margin-top: 50px;
  margin-bottom: 50px;
}
.resume #resume-header .fake-shell-ui a {
  color: inherit;
}
.resume #resume-header .position {
  font-size: 1.5em;
  font-weight: 300;
  color: #625d5a;
  margin: 20px 0;
}
@media (min-width: 768px) {
  .resume #resume-header .position {
    margin: 50px 0;
  }
}
.resume .main-skill {
  text-align: center;
  margin: 30px 0;
  /* padding: 14px;
    background-color: #eff0f2;
    border-radius: 6px; */
}
.resume .main-skill .title {
  color: #002b36;
  font-weight: 600;
  font-size: 1.3em;
}
.resume .separator {
  background-color: #e5e5e5;
  height: 2px;
  margin-bottom: 40px;
  margin-left: 30px;
  margin-right: 30px;
}
.resume .icon {
  margin-bottom: 10px;
}
.resume .description {
  color: #625d5a;
}
.resume .title {
  color: #383431;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.1em;
}
.resume .details .row {
  margin-bottom: 60px;
  /* > div:not(:last-child) {
      @media (max-width: @screen-xs-max) {
        margin-bottom: 60px;
      }
    } */
  /* .education, .social {
      @media (max-width: @screen-xs-max) {
        margin-top: 60px;
      }
    } */
}
.resume .education,
.resume .social {
  margin-top: 60px;
}
@media (min-width: 768px) {
  .resume .education,
  .resume .social {
    margin-top: 0;
  }
}
.resume .experience .header,
.resume .education .header,
.resume .skills .header,
.resume .social .header,
.resume .recommendations .header {
  color: #002b36;
  position: relative;
  font-size: 1.4em;
}
@media (min-width: 992px) {
  .resume .experience .header,
  .resume .education .header,
  .resume .skills .header,
  .resume .social .header,
  .resume .recommendations .header {
    left: -30px;
  }
}
.resume .experience .block,
.resume .education .block,
.resume .skills .block,
.resume .social .block,
.resume .recommendations .block {
  margin-top: 15px;
  /* @media (min-width: @screen-sm-min) {
        width: 350px;
      } */
}
.resume .experience .block .title,
.resume .education .block .title,
.resume .skills .block .title,
.resume .social .block .title,
.resume .recommendations .block .title {
  font-size: 1.1em;
}
.resume .experience .block .title .date,
.resume .education .block .title .date,
.resume .skills .block .title .date,
.resume .social .block .title .date,
.resume .recommendations .block .title .date {
  color: #625d5a;
}
.resume .experience .block .status,
.resume .education .block .status,
.resume .skills .block .status,
.resume .social .block .status,
.resume .recommendations .block .status {
  color: #7f7f7f;
}
.resume .experience .block .description,
.resume .education .block .description,
.resume .skills .block .description,
.resume .social .block .description,
.resume .recommendations .block .description {
  margin-top: 5px;
  color: #625d5a;
}
.resume .skills .block i.fa,
.resume .social .block i.fa {
  color: #625d5a;
}
.resume .skills .title,
.resume .social .title {
  margin-left: 6px;
}
@media (min-width: 992px) {
  .resume .skills .block i.fa {
    margin-left: -27px;
  }
}
.resume .social .block i.fa {
  display: inline-block;
}
@media (min-width: 992px) {
  .resume .social .block i.fa {
    margin-left: -20px;
  }
}
@media (min-width: 992px) {
  .resume .skills .block i.fa-cloud-download,
  .resume .skills .block i.fa-code {
    margin-left: -30px;
  }
  .resume .skills .block i.fa-lock {
    margin-left: -24px;
  }
}
footer.footer {
  background-color: white;
}
footer.footer .copyright {
  margin-bottom: 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.2em;
  color: #7f7f7f;
}
footer.footer .copyright .fa {
  color: #e74c3c;
}
.fa-bookmark {
  color: #002b36;
}
.resume i {
  color: #002b36;
  margin-right: 5px;
}
span.codedirection {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.progress-bar {
  background: #002b36;
}
